<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Prologue by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link type="text/css" href="/stylesheets/styles.css" rel="stylesheet">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="./images/avatar.jpg" alt="" /></span>
							<h1 id="title">Jane Doe Teste</h1>
							<p>Hyperspace Engineer</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="icon solid fa-home">Intro</span></a></li>
								<li><a href="#cadastro_pessoa" id="portfolio-link"><span class="icon solid fa-th">Cadastro Pessoa</span></a></li>
								<li><a href="#cadastro_evento" id="about-link"><span class="icon solid fa-user">Cadastro Evento</span></a></li>
								<li><a href="#cadastro_premio" id="contact-link"><span class="icon solid fa-envelope">Cadastro Prêmio</span></a></li>
								<li><a href="#cadastro_nominacao" id="contact-link"><span class="icon solid fa-envelope">Cadastro Indicação</span></a></li>
								<li><a href="#cadastro_filme" id="contact-link"><span class="icon solid fa-envelope">Cadastro Filme</span></a></li>
							</ul>
						</nav>

				</div>
			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Bem Vindo ao <strong>Site</strong>! Aqui temos um ambiente para registrar<br />
								indicações para premiações do cinema</a>.</h2>
								<p>Aqui você pode cadastrar seus filmes e artistas favoritos<br />
								que tenham participado de algum evento de premiação.</p>
							</header>

						</div>
					</section>

				<!-- cadastro pessoa -->
				<section id="cadastro_pessoa" class="four">
					<div class="container">

						<header>
							<h2>Cadastro de Pessoa</h2>
						</header>

						<p>Cadastre uma pessoa que participa ou participou de um evento de premiação,
							seja diretamente (como juíz ou indicada à um prêmio) ou indiretamente
							(participando de um filme que foi indicado).
						</p>

						<form method="post" action="#">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Nome Artístico" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Nome Verdadeiro" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Sexo" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Ano de Nascimento" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Site" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Ano de Início" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Número Total de Anos" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Situação" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Profissão Diretor" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Profissão Ator" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Profissão Produtor" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Profissão Roteirista" /></div>
								<div class="col-12">
									<input type="submit" value="Send Message" />
								</div>
							</div>
						</form>

					</div>
				</section>

				<!-- cadastro evento -->
				<section id="cadastro_evento" class="four">
					<div class="container">

						<header>
							<h2>Cadastro de Evento</h2>
						</header>

						<p>Cadastre um evento de premiação de filmes</p>

						<form method="post" action="#">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Nome" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Ano Início" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Tipo" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Nacionalidade" /></div>
								<div class="col-12">
									<input type="submit" value="Send Message" />
								</div>
							</div>
						</form>

					</div>
				</section>

				<!-- Cadastro premio -->
				<section id="cadastro_premio" class="four">
					<div class="container">

						<header>
							<h2>Cadastre um Prêmio</h2>
						</header>

						<p>Cadastre um prêmio específico que faz parte de algum evento de premiação</p>

						<form method="post" action="#">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Nome do Evento" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Ano" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Tipo" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Nome" /></div>
								<div class="col-12">
									<input type="submit" value="Send Message" />
								</div>
							</div>
						</form>

					</div>
				</section>

				<!-- cadastro nominação -->
				<section id="cadastro_nominacao" class="four">
					<h2>Cadastre Indicações</h2>
					<div class="container">

						<header>
							<h2>Cadastre uma Pessoa Indicada</h2>
						</header>

						<p>Cadastre uma pessoa que foi indicada à um prêmio,
							assim como a informação do filme pelo qual ela foi
							indicada
						</p>

						<form method="post" action="#">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Nome Evento" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Tipo do Evento" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Ano do Evento" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Nome Artístico" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Título Original do Filme" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Ano de Produção do Filme" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="A pessoa ganhou?" /></div>
								<div class="col-12">
									<input type="submit" value="Send Message" />
								</div>
							</div>
						</form>

					</div>

					<div class="container">

						<header>
							<h2>Cadastre um Filme Indicado</h2>
						</header>

						<p>Cadastre um filme que foi indicado à um prêmio</p>

						<form method="post" action="#">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Título Original" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Ano de Produção" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Nome do Evento" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Ano do Evento" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Tipo do Evento" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="O filme ganhou?" /></div>
								<div class="col-12">
									<input type="submit" value="Send Message" />
								</div>
							</div>
						</form>

					</div>
				</section>

				<!-- cadastro filme -->
				<section id="cadastro_filme" class="four">
					<div class="container">

						<header>
							<h2>Cadastro de Filme</h2>
						</header>

						<p>Cadastre um filme</p>

						<form method="post" action="#">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Título Original" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Ano de Produção" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Título no Brasil" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Idioma Original" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Classe" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Data de Estreia" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Arrecadação no Primeiro Ano" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Gênero" /></div>
								<div class="col-12">
									<input type="submit" value="Send Message" />
								</div>
							</div>
						</form>

					</div>
				</section>

			</div>

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="./assets/js/jquery.min.js"></script>
			<script src="./assets/js/jquery.scrolly.min.js"></script>
			<script src="./assets/js/jquery.scrollex.min.js"></script>
			<script src="./assets/js/browser.min.js"></script>
			<script src="./assets/js/breakpoints.min.js"></script>
			<script src="./assets/js/util.js"></script>
			<script src="./assets/js/main.js"></script>

	</body>
</html>