<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Premiações do Cinema</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link type="text/css" href="/stylesheets/styles.css" rel="stylesheet">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="./images/avatar.jpg" alt="" /></span>
							<h1 id="title">Banco de Dados de Premiações</h1>
							<p>Homenageando o Cinema</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="icon solid fa-home">Intro</span></a></li>
								<li><a href="#cadastro_pessoa" id="portfolio-link"><span class="icon solid fa-th">Cadastro Pessoa</span></a></li>
								<li><a href="#cadastro_juiz" id="contact-link"><span class="icon solid fa-envelope">Cadastro Juri</span></a></li>
								<li><a href="#cadastro_diretor" id="contact-link"><span class="icon solid fa-envelope">Cadastro Diretor</span></a></li>
								<li><a href="#cadastro_principal" id="contact-link"><span class="icon solid fa-envelope">Cadastro Protagonista</span></a></li>
								<li><a href="#cadastro_coadjuvante" id="contact-link"><span class="icon solid fa-envelope">Cadastro Coadjuvante</span></a></li>
								<li><a href="#cadastro_produtor" id="contact-link"><span class="icon solid fa-envelope">Cadastro Produtor</span></a></li>
								<li><a href="#cadastro_roteirista" id="contact-link"><span class="icon solid fa-envelope">Cadastro Roteirista</span></a></li>
								<li><a href="#cadastro_evento" id="about-link"><span class="icon solid fa-user">Cadastro Evento</span></a></li>
								<li><a href="#cadastro_premio" id="contact-link"><span class="icon solid fa-envelope">Cadastro Prêmio</span></a></li>
								<li><a href="#cadastro_edicao" id="contact-link"><span class="icon solid fa-envelope">Cadastro Edição</span></a></li>
								<li><a href="#cadastro_nominacao" id="contact-link"><span class="icon solid fa-envelope">Cadastro Indicação</span></a></li>
								<li><a href="#cadastro_filme" id="contact-link"><span class="icon solid fa-envelope">Cadastro Filme</span></a></li>
								<li><a href="#cadastro_estreia" id="contact-link"><span class="icon solid fa-envelope">Cadastro Local de Estreia</span></a></li>
							</ul>
						</nav>

				</div>
			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Bem Vindo ao <strong>Site</strong>! Aqui temos um ambiente para registrar<br />
								indicações para premiações do cinema</a>.</h2>
								<p>Aqui você pode cadastrar seus filmes e artistas favoritos<br />
								que tenham participado de algum evento de premiação.</p>
							</header>

						</div>
					</section>

				<!-- cadastro pessoa -->
				<section id="cadastro_pessoa" class="four">
					<div class="container">

						<header>
							<h2>Cadastro de Pessoa</h2>
						</header>

						<p>Cadastre uma pessoa que participa ou participou de um evento de premiação,
							seja diretamente (como juíz ou indicada à um prêmio) ou indiretamente
							(participando de um filme que foi indicado).
						</p>

						<form method="POST" action="/pessoa/create">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="nomeart" placeholder="Nome Artístico" required /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="nomeverdadeiro" placeholder="Nome Verdadeiro" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="sexo" placeholder="Sexo" /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="anonasc" placeholder="Ano de Nascimento" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="site" placeholder="Site" /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="anoinic" placeholder="Ano de Início" /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="nrototalanos" placeholder="Número Total de Anos Trabalhados" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="situacao" placeholder="Situação" /></div>
								<div class="col-6 col-12-mobile-caixa">
									<input type="checkbox" name="profdiretor" class="caixa" value="true" />
									<label for="diretor">Profissão Diretor</label>
								</div>
								<div class="col-6 col-12-mobile">
									<input type="checkbox" name="profator" class="caixa" value="true" />
									<label for="diretor">Profissão Ator</label>
								</div>
								<div class="col-6 col-12-mobile">
									<input type="checkbox" name="profprodutor" class="caixa" value="true" />
									<label for="diretor">Profissão Produtor</label>
								</div>
								<div class="col-6 col-12-mobile">
									<input type="checkbox" name="profroteirista" class="caixa" value="true" />
									<label for="diretor">Profissão Roteirista</label>
								</div>
								<div class="col-12">
									<input type="submit" value="Cadastrar" />
								</div>
							</div>
						</form>

					</div>
				</section>
				
				<!-- cadastro de juiz -->
				<section id="cadastro_juiz" class="four">
					<div class="container">

						<header>
							<h2>Cadastro de Júri</h2>
						</header>

						<p>Cadastre uma pessoa que participou de um evento como júri (e não como candidato).
						</p>

						<form method="POST" action="/ejuri/create">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="nomeart" placeholder="Nome Artístico" required /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="nomeevento" placeholder="Nome do Evento" required /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="ano" placeholder="Ano da Edição" required /></div>
								<div class="col-12">
									<input type="submit" value="Cadastrar" />
								</div>
							</div>
						</form>

					</div>
				</section>

				<!-- cadastro de diretor -->
				<section id="cadastro_diretor" class="four">
					<div class="container">

						<header>
							<h2>Cadastro de Diretor</h2>
						</header>

						<p>Cadastre uma pessoa que dirigiu um filme que participou do evento e concorreu a um prêmio.
						</p>

						<form method="POST" action="/ediretor/create">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="nomeart" placeholder="Nome Artístico" required /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="titulooriginal" placeholder="Título Original do Filme Dirigido" required /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="anoproducao" placeholder="Ano de Produção do Filme" required /></div>
								<div class="col-6 col-12-mobile">
									<input type="checkbox" name="eprincipal" class="caixa" value="true" />
									<label for="eprincipal">Esse Diretor é o diretor principal do filme?</label>
								</div>
								<div class="col-12">
									<input type="submit" value="Cadastrar" />
								</div>
							</div>
						</form>

					</div>
				</section>

				<!-- cadastro de protagonista -->
				<section id="cadastro_principal" class="four">
					<div class="container">

						<header>
							<h2>Cadastro de Ator Protagonista</h2>
						</header>

						<p>Cadastre uma pessoa que atuou como protagonista em um filme,<br> concorrendo para melhor ator/atriz principal.
						</p>

						<form method="POST" action="/atorprincipal/create">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="nomeart" placeholder="Nome Artístico" required /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="titulooriginal" placeholder="Título Original do Filme Atuado" required /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="anoproducao" placeholder="Ano de Produção do Filme" required /></div>
								<div class="col-12">
									<input type="submit" value="Cadastrar" />
								</div>
							</div>
						</form>

					</div>
				</section>

				<!-- cadastro de secundario -->
				<section id="cadastro_coadjuvante" class="four">
					<div class="container">

						<header>
							<h2>Cadastro de Ator Coadjuvante</h2>
						</header>

						<p>Cadastre uma pessoa que atuou como coadjuvante em um filme,<br> concorrendo para melhor ator/atriz coadjuvante.
						</p>

						<form method="POST" action="/atorelenco/create">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="nomeart" placeholder="Nome Artístico" required /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="titulooriginal" placeholder="Título Original do Filme Atuado" required /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="anoproducao" placeholder="Ano de Produção do Filme" required /></div>
								<div class="col-12">
									<input type="submit" value="Cadastrar" />
								</div>
							</div>
						</form>

					</div>
				</section>

				<!-- cadastro de produtor -->
				<section id="cadastro_produtor" class="four">
					<div class="container">

						<header>
							<h2>Cadastro de Produtor</h2>
						</header>

						<p>Cadastre uma pessoa que produziu um filme indicado.
						</p>

						<form method="POST" action="/eprodutor/create">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="nomeart" placeholder="Nome Artístico" required /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="titulooriginal" placeholder="Título Original do Filme Produzido" required /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="anoproducao" placeholder="Ano de Produção do Filme" required /></div>
								<div class="col-12">
									<input type="submit" value="Cadastrar" />
								</div>
							</div>
						</form>

					</div>
				</section>

				<!-- cadastro de roteirista -->
				<section id="cadastro_roteirista" class="four">
					<div class="container">

						<header>
							<h2>Cadastro de Roteirista</h2>
						</header>

						<p>Cadastre uma pessoa que roterizou um filme indicado.
						</p>

						<form method="POST" action="/eroteirista/create">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="nomeart" placeholder="Nome Artístico" required /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="titulooriginal" placeholder="Título Original do Filme Roterizado" required /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="anoproducao" placeholder="Ano de Produção do Filme" required /></div>
								<div class="col-12">
									<input type="submit" value="Cadastrar" />
								</div>
							</div>
						</form>

					</div>
				</section>

				<!-- cadastro evento -->
				<section id="cadastro_evento" class="four">
					<div class="container">

						<header>
							<h2>Cadastro de Evento</h2>
						</header>

						<p>Cadastre um evento de premiação de filmes</p>

						<form method="POST" action="/evento/create">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="nome" placeholder="Nome" required /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="anoinicio" placeholder="Ano Início" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="tipo" placeholder="Tipo" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="nacionalidade" placeholder="Nacionalidade" /></div>
								<div class="col-12">
									<input type="submit" value="Cadastrar" />
								</div>
							</div>
						</form>

					</div>
				</section>

				<!-- Cadastro premio -->
				<section id="cadastro_premio" class="four">
					<div class="container">

						<header>
							<h2>Cadastre um Prêmio</h2>
						</header>

						<p>Cadastre um prêmio específico que faz parte de algum evento de premiação</p>

						<form method="POST" action="/premio/create">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="nomeevento" placeholder="Nome do Evento" required /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="ano" placeholder="Ano" required /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="tipo" placeholder="Tipo" required /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="nome" placeholder="Nome" /></div>
								<div class="col-12">
									<input type="submit" value="Cadastrar" />
								</div>
							</div>
						</form>

					</div>
				</section>

				<!-- cadastro edição -->
				<section id="cadastro_edicao" class="four">
					<div class="container">

						<header>
							<h2>Cadastro de Edição</h2>
						</header>

						<p>Cadastre a edição de um evento de premiação de filmes</p>

						<form method="POST" action="/edicao/create">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="nomeevento" placeholder="Nome do Evento" required /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="ano" placeholder="Ano da Edição" /></div>
								<div class="col-6 col-12-mobile">
									<input type="date" name="data_" placeholder="Data em que Ocorreu" class="datas" />
									<label for="name_date">Data da Edição</label>
								</div>
								<div class="col-6 col-12-mobile"><input type="text" name="localizacao" placeholder="Local Onde Ocorreu" /></div>
								<div class="col-12">
									<input type="submit" value="Cadastrar" />
								</div>
							</div>
						</form>

					</div>
				</section>

				<!-- cadastro nominação -->
				<section id="cadastro_nominacao" class="four">
					<h2>Cadastre Indicações</h2>
					<div class="container">

						<header>
							<h2>Cadastre uma Pessoa Indicada</h2>
						</header>

						<p>Cadastre uma pessoa que foi indicada à um prêmio,
							assim como a informação do filme pelo qual ela foi
							indicada
						</p>

						<form method="POST" action="/enominado/create">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="nomeevento" placeholder="Nome Evento" required /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="tipo" placeholder="Tipo do Evento" required /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="ano" placeholder="Ano do Evento" required /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="nomeart" placeholder="Nome Artístico" required /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="titulooriginal" placeholder="Título Original do Filme" required /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="anoproducao" placeholder="Ano de Produção do Filme" required /></div>
								<div class="col-6 col-12-mobile">
									<input type="checkbox" name="ganhou" class="caixa" value="true" />
									<label for="diretor">A Pessoa Venceu o Prêmio?</label>
								</div>
								<div class="col-12">
									<input type="submit" value="Cadastrar" />
								</div>
							</div>
						</form>

					</div>

					<div class="container">

						<header>
							<h2>Cadastre um Filme Indicado</h2>
						</header>

						<p>Cadastre um filme que foi indicado à um prêmio</p>

						<form method="POST" action="/filmenominado/create">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="titulooriginal" placeholder="Título Original" required /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="anoproducao" placeholder="Ano de Produção" required /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="nomeevento" placeholder="Nome do Evento" required /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="ano" placeholder="Ano do Evento" required /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="tipo" placeholder="Tipo do Evento" required /></div>
								<div class="col-6 col-12-mobile">
									<input type="checkbox" name="premiado" class="caixa" value="true" />
									<label for="diretor">O Filme Venceu o Prêmio?</label>
								</div>
								<div class="col-12">
									<input type="submit" value="Cadastrar" />
								</div>
							</div>
						</form>

					</div>
				</section>

				<!-- cadastro filme -->
				<section id="cadastro_filme" class="four">
					<div class="container">

						<header>
							<h2>Cadastro de Filme</h2>
						</header>

						<p>Cadastre um filme</p>

						<form method="POST" action="/filme/create">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="titulooriginal" placeholder="Título Original" required /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="anoproducao" placeholder="Ano de Produção" required /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="titulonobrasil" placeholder="Título no Brasil" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="idiomaoriginal" placeholder="Idioma Original" /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="classe" placeholder="Classe" /></div>
								<div class="col-6 col-12-mobile">
									<input type="date" name="dataestreio" placeholder="Data de Estreia" class="datas" />
									<label for="name_date">Data de Estréia</label>
								</div>
								<div class="col-6 col-12-mobile"><input type="number" name="arrecadacaoprimano" placeholder="Arrecadado Primeiro Ano" /></div>
								
								<div class="col-12">
									<input type="submit" value="Cadastrar" />
								</div>
							</div>
						</form>

					</div>
				</section>

				<!-- cadastro de local de estreia -->
				<section id="cadastro_estreia" class="four">
					<div class="container">

						<header>
							<h2>Cadastro de um Local de Estreia de um Filme</h2>
						</header>

						<p>Cadastre o local em que um filme indicado estreou.
						</p>

						<form method="POST" action="/localestreio/create">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="local_" placeholder="Local de Estreia" required /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="titulooriginal" placeholder="Título Original do Filme Roterizado" required /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="anoproducao" placeholder="Ano de Produção do Filme" required /></div>
								<div class="col-12">
									<input type="submit" value="Cadastrar" />
								</div>
							</div>
						</form>

					</div>
				</section>

				<!-- Obter Atores Premiados -->
				<section id="obter_atores_premiados" class="four">
					<div class="container">

						<header>
							<h2>Obter Atores Mais Premiados</h2>
						</header>

						<form id="form_obter_atores" onsubmit="obterAtoresPremiados(); return false;">
							<div class="row">
								<div class="col-12">
									<input type="submit" value="Obter Atores Premiados" />
								</div>
							</div>
						</form>

						<div id="resultado_atores_premiados"></div>
						<canvas id="grafico_atores_premiados"></canvas>
					</div>
				</section>

				<!-- Obter Filmes Premiados -->
				<section id="obter_filmes_premiados" class="four">
					<div class="container">

						<header>
							<h2>Obter Filmes Mais Premiados</h2>
						</header>

						<form id="form_obter_filmes" onsubmit="obterFilmesPremiados(); return false;">
							<div class="row">
								<div class="col-12">
									<input type="submit" value="Obter Filmes Premiados" />
								</div>
							</div>
						</form>

						<div id="resultado_filmes_premiados"></div>
						<canvas id="grafico_filmes_premiados"></canvas>
					</div>
				</section>

				<!-- Obter Maior Arrecadação -->
				<section id="obter_maior_arrecadacao" class="four">
					<div class="container">

						<header>
							<h2>Obter Filmes com maior arrecadação</h2>
						</header>

						<form id="form_obter_atores" onsubmit="obtermaiorArrecadacao(); return false;">
							<div class="row">
								<div class="col-12">
									<input type="submit" value="Obter Maior Arrecadação" />
								</div>
							</div>
						</form>

						<div id="resultado_maior_arrecadacao"></div>
						<canvas id="grafico_maior_arrecadacao"></canvas>
					</div>
				</section>

				<!-- Obter Melhores Atores -->
				<section id="obter_melhor_ator" class="four">
					<div class="container">

						<header>
							<h2>Obter Melhores Atores</h2>
						</header>

						<form id="form_obter_melhor_ator" onsubmit="obterMelhorAtor(); return false;">
							<div class="row">
								<div class="col-12">
									<input type="submit" value="Obter Melhor Ator" />
								</div>
							</div>
						</form>

						<div id="resultado_melhor_ator"></div>
					</div>
				</section>

				<!-- Busca de prêmios -->
				<section id="busca_premios" class="four">
					<div class="container" id="bucapremiopessoa">

						<header>
							<h2>Obter Detalhes de um Prêmio para Atores</h2>
						</header>

						<p>Procure pelos atores ou atrizes indicados de um prêmio específico</p>

						<form method="post" action="/buscaenominado/">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="nomeevento" placeholder="Nome do Evento" required /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="ano" placeholder="Ano" required /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="tipo" placeholder="Tipo de Prêmio" required /></div>
								<div class="col-12">
									<input type="submit" value="Cadastrar" />
								</div>
							</div>
						</form>

					</div>

					<div class="container" id="buscapremiofilmes">

						<header>
							<h2>Obter Detalhes de um Prêmio para Filmes</h2>
						</header>

						<p>Procure pelos filmes indicados de um prêmio específico</p>

						<form method="post" action="/buscafilmenominado/" onsubmit="buscaPremioFilmes(); return false;">
							<div class="row">
								<div class="col-6 col-12-mobile"><input type="text" name="nomeevento" placeholder="Nome do Evento" required /></div>
								<div class="col-6 col-12-mobile"><input type="number" name="ano" placeholder="Ano" required /></div>
								<div class="col-6 col-12-mobile"><input type="text" name="tipo" placeholder="Tipo de Prêmio" required /></div>
								<div class="col-12">
									<input type="submit" value="Cadastrar" />
								</div>
							</div>
						</form>

					</div>
				</section>


		</div>

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="./assets/js/jquery.min.js"></script>
			<script src="./assets/js/jquery.scrolly.min.js"></script>
			<script src="./assets/js/jquery.scrollex.min.js"></script>
			<script src="./assets/js/browser.min.js"></script>
			<script src="./assets/js/breakpoints.min.js"></script>
			<script src="./assets/js/util.js"></script>
			<script src="./assets/js/main.js"></script>

			<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

			<script>

				function buscaPremioFilmes() {
					fetch('/atoresMaisPremiados')
						.then(response => response.json())
						.then(data => 
							document.getElementById("bucapremiofilme"))
						.catch(error => {
							console.error('Erro ao obter atores premiados:', error);
							document.getElementById('resultado_atores_premiados').innerHTML = 'Erro ao obter filmes premiados. Verifique o console para mais detalhes.';
						});
				}

				function obterAtoresPremiados() {
					fetch('/atoresMaisPremiados')
						.then(response => response.json())
						.then(data => {
							criarGrafico('atores_premiados', data);
						})
						.catch(error => {
							console.error('Erro ao obter atores premiados:', error);
							document.getElementById('resultado_atores_premiados').innerHTML = 'Erro ao obter filmes premiados. Verifique o console para mais detalhes.';
						});
				}

				function criarGrafico(resultado, data) {
					const labels = data.data.map(item => item.label);
					const valores = data.data.map(item => item.value);

					const ctx = document.getElementById('grafico_' + resultado).getContext('2d');
					new Chart(ctx, {
						type: 'bar',
						data: {
							labels: labels,
							datasets: [{
								label: 'Premiações',
								data: valores,
								backgroundColor: 'rgba(75, 192, 192, 0.2)',
								borderColor: 'rgba(75, 192, 192, 1)',
								borderWidth: 1
							}]
						},
						options: {
							scales: {
								y: {
									beginAtZero: true
								}
							}
						}
					});
				}

				// Chama a função ao abrir a página
				window.onload = obterAtoresPremiados;
			</script>

			<script>
				function obterFilmesPremiados() {
					fetch('/filmesMaisPremiados')
						.then(response => response.json())
						.then(data => {
							criarGrafico('filmes_premiados', data);
						})
						.catch(error => {
							console.error('Erro ao obter filmes premiados:', error);
							document.getElementById('resultado_filmes_premiados').innerHTML = 'Erro ao obter filmes premiados. Verifique o console para mais detalhes.';
						});
				}
			
				// Chama a função ao abrir a pagina
				window.onload = obterFilmesPremiados;
			</script>
			<script>
				function obtermaiorArrecadacao() {
					fetch('/maiorArrecadacao')
						.then(response => response.json())
						.then(data => {
							criarGrafico('maior_arrecadacao', data);
						})
						.catch(error => {
							console.error('Erro ao obter arrecadações:', error);
							document.getElementById('resultado_maior_arrecadacao').innerHTML = 'Erro ao obter filmes premiados. Verifique o console para mais detalhes.';
						});
				}
			
				// Chama a função ao abrir a pagina
				window.onload = obtermaiorArrecadacao;
			</script>

			<script>
				function obterMelhorAtor() {
					fetch('/melhorAtor')
						.then(response => response.json())
						.then(data => {

							const resultado = document.getElementById('resultado_melhor_ator');
							resultado.innerHTML = '';
	
							// Verifique se há dados
            						if (data.melhorAtor && data.melhorAtor.length > 0) {
               						 const table = document.createElement('table');
               						 table.border = '1';

							const headerRow = table.insertRow(0);
                					const headerCell = headerRow.insertCell(0);
               						headerCell.innerHTML = 'Melhores Atores';

							 // Preenche a tabela
               						for (let i = 0; i < data.melhorAtor.length; i++) {
                    						const actor = data.melhorAtor[i];
                    						const row = table.insertRow(i + 1);
						                const cell = row.insertCell(0);
                    						cell.innerHTML = actor.NomeArt || 'Nome do Ator Indisponível';
                					}
							resultado.appendChild(table);
          					} else {
				        		resultado.innerHTML = 'Nenhum ator premiado encontrado.';
            						}
        					})

						.catch(error => {
							console.error('Erro ao obter melhores atores:', error);
							document.getElementById('resultado_melhor_ator').innerHTML = 'Erro ao obter melhores atores. Verifique o console para mais detalhes.';
						});
				}
			</script>			


	</body>
</html>
